<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thor Mobile - Home Page</title>
    <link rel="stylesheet" href="/css/01Home.css">
    <link rel="stylesheet" href="/css/Slider.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Rubik:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

    <nav id="nav_home">
        <div class="logoh">
            <img class="logoh" src="/img/home/logos/Logos-01.png" alt="">
        </div>
        <div class="enlaces">
            <a href="./carrito.html"><i class="fas fa-shopping-cart"></i></a>
            <a href="#contacto">+ THOR</a>
            <a href="#productos">Productos</a>
            <a href="#planes">Planes</a>
            <a href="#nosotros">Nosotros</a>

        </div>
    </nav>

    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/img/home/banner/banner-01.jpg" style="width:100%" ; height="50%">
            <div class="text">imagen 1</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/img/home/banner/banner-02.jpg" style="width:100%" ; height="50%">
            <div class="text">imagen 2</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/img/home/banner/banner-03.jpg" style="width:100%">
            <div class="text">imagen 3</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div id="nosotros" class="valores">
        <div class="cat">
            <h2>VALORES</h2>
            <br>
            <p class="intro">En THOR nos preocupamos por que nuestros clientes se encuentren siempre conectados, no
                importa lo lejos que estén. por eso nos enfocamos en ser:</p>
        </div>

        <div class="espacio"></div>

        <div class="valor">
            <img src="/img/home/Valores/Valores-01.png" alt="" class="icono">
            <p class="val">Nos preocupamos por llegar donde otros no, solo por nuestros clientes.</p>
        </div>

        <div class="espacio"></div>

        <div class="valor">
            <img src="/img/home/Valores/Valores-02.png" alt="" class="icono">
            <p class="val">Respondemos a la velocidad del rayo, para garantizar el mejor servicio.</p>
        </div>

        <div class="espacio"></div>

        <div class="valor">
            <img src="/img/home/Valores/Valores-03.png" alt="" class="icono">
            <p class="val">Conectamos a tu comunidad o empresa con el resto del mundo!</p>
        </div>

        <div class="espacio"></div>

    </div>

    <div class="videopromo">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/ScEmHr1RbdM?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>

    <div class="nosotros">

        <div class="espacio"></div>

        <div class="imagen-nosotros"></div>

        <div class="espacio"></div>

        <div class="parrafo">
            <p>Con nuestro servicio llevamos señal garantizada a todas esas áreas sin cobertura de telefonía o internet</p>
            <p>Rompemos las barreras de comunicación para que tu, tu comunidad o tu empresa estén siempre conectadas al
                mundo, sin importar el lugar en el que se encuentren, ya sea para llevar productos y servicios de lado
                a lado del mundo o solo para saber que sucede en él.</p> <br><br>
            <h3 id="gente">Por un mundo + conectado!</h3>
        </div>
    </div>

    <div class="division">
        <div class="linea"></div>
    </div>

    <div id="planes" class="productos">

        <div class="cat">
            <h2>PLANES</h2>
            <br>
            <p class="intro">En THOR tenemos los planes perfectos para que siempre estés conectado desde cualquier
                lugar del mundo:</p>
        </div>

        <div class="espacio"></div>

        <div class="product">
            <div class="prod01"></div>
            <h4>INDIVIDUAL</h4>
            <p class="det">Aumenta tu área de influencia, lleva tu conectividad al siguiente nivel con un plan <b>INDIVIDUAL</b>
                que te lleve a nuevos horizontes.</p>
            
        </div>

        <div class="espacio"></div>

        <div class="product">
            <div class="prod02"></div>
            <h4>COMUNITARIO</h4>
            <p class="det">Los servicios de <b>THOR MOBILE</b> facilitan el acceso a Internet para cualquier <b>COMUNIDAD</b>
                de regiones de difícil acceso geográfico.</p>
            <a class="x" href="/03Planes.html"><button class="b-detalle">Conoce más de nuestros planes</button></a>
        </div>

        <div class="espacio"></div>

        <div class="product">
            <div class="prod03"></div>
            <h4>EMPRESARIAL</h4>
            <p class="det"><b>THOR MOBILE</b>, ofrece el servicio de internet satelital para empresas con cobertura
                global, llegando así a nuevos mercados.</p>
            
        </div>
    </div>

    <div class="footer" id="contacto">

        <div class="espacio"></div>

        <div class="item1">
            <h2 class="h-footer">Mi thor Mobile</h2> <br>
            <p>Ingresar <br>
                Descargar app <br>
                Recargar en linea<br>
                Registrate<br>
                Thor plus<br>
                Thor Video<br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item2">
            <h2 class="h-footer">Atencion al cliente </h2> <br>
            <p>Centros de experiencia <br>
                Lineas de atencion<br>
                Cobertura de Servicios <br>
                Preguntas Frecuentes <br>
                Conoce tu Factura <br>
                Chat de servicio <br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item3">
            <h2 class="h-footer">Mas de thor mobile </h2> <br>
            <p>Trabaja con nosotros <br>
                Blog <br>
                Terminos y condiciones<br>
                Nuestros productos<br>
                Eventos y patrocinios<br>
                Oficinas Principales<br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item4">
            <h2 class="h-footer">Redes sociales </h2> <br>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div>
<div class="fixed-action-btn toolbar ">
    <a class="btn-floating btn-large grey darken-3">
        <i class="large material-icons">account_circle</i>
    </a>
    <ul>
        <li><a href="./form_login.html" class="btn-floating enlace1">Registrarse</a></li>
        <li><a href="./formulario.html" class="btn-floating enlace2 ">Iniciar Sesión</a></li>
    </ul>
</div>
</div>

<script src="/js/slide.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
          toolbarEnabled: true
        });
      });
      /* function abrir() { 
        window.open('./formulario.html','Registro','top=80,left=400,width=500,height=520,toolbar=0,scrollbars=NO,location=0,menubar=0,directories=no');
    } 
    function abrir_login() { 
        window.open('./form_login.html','Login','top=100,left=420,width=500,height=300,toolbar=0,scrollbars=NO,location=0,menubar=0,directories=no');
    }  */
</script>

</body>

</html>