<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planes</title>
    <link rel="stylesheet" href="css/03Planes.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Rubik:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <nav>
        <div class="logoh">
            <img class="logoh" src="img/logos/Logos-01.png" alt="">
        </div>
        <div class="enlaces">
            <a href="index.html"><i class="fas fa-shopping-cart"></i></a>
            <a href="#contacto">+ THOR</a>
            <a href="#productos">Productos</a>
            <a href="#planes">Planes</a>
            <a href="#nosotros">Nosotros</a>

        </div>
    </nav><

    <div class="titulo">
        <h2>PLANES</h2>
        <br>
        <p class="intro">Muchas veces cuando necesitas extender tu área de operación te encuentras con el desafío 
            de la conectividad. Ser capaz de llevar información necesaria a lugares remotos facilitando 
            la operación de cualquier actividad comercial y/o laboral.
            <br> <br>
            Thor mobile cuenta con un amplio portafolio de servicios como:</p>
    </div>

    <div class="division">
        <div class="linea"></div>
    </div>

    <div class="plan">

        <div class="espacio"></div>

        
        <div class="left">
            <h4 id="Nombre_Producto_1">PLAN INDIVIDUAL</h4>
            <p class="parrafo">Muchas veces cuando necesitas extender 
            tu área de operación te encuentras con el desafío 
            de la conectividad.<br> Ser capaz de llevar 
            información necesaria a lugares remotos facilitando 
            la operación de cualquier actividad comercial y/o laboral.
            <br>
            <br>
            Thor mobile cuenta con un amplio portafolio de servicios como:
            <br>
            Plan de  datos 20 GB. <br><br>
            Servicio de datos adicionales (*Aplican condiciones y restricciones) <br><br>
            Servicio <u>NOCTURNO GRATUITO:</u> <br>Hasta 50 GB(entre 1 am y 7 am)*.<br>
            Sí consumes los datos mensuales de tu plan, la conexión <u>se reducirá</u> a 2 Mbps para carga y descarga*.<br><br>
            GPS. (gratis) <br><br>
            telefonía.(75 min el mes) <br><br>
            conectividad inalámbrica.</p>
        </div>
        <div class="right">
            <div class="imagen_plan_01"><img id="Imagen_Producto_1" class="opacidad" src="img/planes/Individual.jpg" alt=""></div>
            <h2>PRECIO</h2> 
            <h2 id="Mostrar_Precio_Producto_1">$784.000</h2><br>
            <input type="hidden" value="784000" id="Precio_Producto_1"/>
            
            <a href="#"><button class="b-compra" id="Boton_Producto_1">Agregar al carrito</button></a>
        </div>
        <div class="espacio"></div>
                
    </div>

    <div class="division">
        <div class="linea"></div>
    </div>

    <div class="plan">

        <div class="espacio"></div>
    
        
        <div class="left">
            <h4 id="Nombre_Producto_2">PLAN COMUNITARIO</h4>
            <p class="parrafo">
            
            THOR MOBILE está comprometido con el desarrollo 
            de las regiones. Por eso queremos ayudar a cualquier 
            comunidad que quiera expandir su actividad a zonas remotas. 
            Ofrecemos nuestros servicios pensando en las necesidades 
            de cada uno de nuestros clientes.
            <br><br>
            Los costos de instalación de los servicios de THOR MOBILE 
            también son mucho menores a la instalación de líneas de cable. 
            THOR MOBILE también provee servicios adicionales que complementan el 
            Internet satelital, como mantenimiento, soporte y 
            alquiler de equipos. 
            <br> <br>
            Thor mobile cuenta con un amplio portafolio de servicios como:<br>
            <br>
            incluye Internet móvil satelital.<br>
            Plan de  datos 10 GB.<br>
            Servicio de datos adicionales (*Aplican condiciones y restricciones)<br><br>
            <u>GRATUITO:</u><br>25GB(entre 8 am y 5 pm)*.<br>
            Hasta 30/3 Mbps (velocidad de descarga/carga),<br> sí consumes los datos mensuales de tu plan , la conexión <u>se reducirá</u> a 1 Mbps para carga* y descarga*.
            <br>
            Conectividad inalámbrica.<br>
            Consultoría TIC.<br>
            GPS.<br></p>
        </div>
        <div class="right">
            <div class="imagen_plan_02"><img id="Imagen_Producto_2" class="opacidad" src="/img/planes/Comunitario.jpg" alt=""></div>
            <h2>PRECIO</h2> <h2 id="Mostrar_Precio_Producto_2">$480.000</h2>
            <input type="hidden" value="480000" id="Precio_Producto_2"/>
            <a href="#"><button class="b-compra" id="Boton_Producto_2">Agregar al carrito</button></a>
        </div>
                    
    </div>

    <div class="division">
        <div class="linea"></div>
    </div>

    <div class="plan">

        <div class="espacio"></div>
            
        <div class="left">
            <h4 id="Nombre_Producto_3">PLAN EMPRESARIAL</h4>
            <p class="parrafo">
            Con THOR MOBILE las empresas pueden aumentar 
            su área de operación. No solamente ofrecemos conectividad 
            rápida y confiable en lugares remotos o incluso en 
            conectividad marítima, sino que además somos conscientes 
            de que muchas veces las limitaciones son materiales. 
            Por ello también ofrecemos alquiler de equipos y 
            hardware que permiten a las empresas llegar a todos 
            los lugares posibles.
            <br><br>
            Con THOR MOBILE su empresa puede ser global y mantenerse conectada.
            <br><br>  
            Thor mobile cuenta con un amplio portafolio de servicios como:
            <br><br>
            <u>Telefonía:</u> 75 min (mes)<br>
            <u>GPS</u>(Gratis)<br>
            incluye Internet móvil satelital.<br>
            Conectividad inalámbrica.<br>
            Utilizable a cualquier hora (*Aplican condiciones y restricciones).<br>
            servicio de datos adicionales<br>
            Plan de datos 200 GB<br><br>
            <u>GRATUITOS:</u> <br><br>
            Datos extra de 30 GB franja horaria (8 am a 5pm)*.<br>
            Hasta 50/5 Mbps (velocidad de descarga/carga), sí consumes los datos mensuales de tu plan, la conexión <u> se reducirá </u> a 1 Mbps para carga y descarga*.<br>
            Data Center.<br>
            Consultoría TIC.<br>
            Fortalecimiento de Infraestructura.</p>
        </div>
        <div class="right">
            <div class="imagen_plan_03"><img id="Imagen_Producto_3" class="opacidad" src="/img/planes/Empresarial.jpg" alt=""></div>
            <h2>PRECIO</h2> <h2 id="Mostrar_Precio_Producto_3">$1.620.000</h2>
          	<input type="hidden" value="1620000" id="Precio_Producto_3" />
            <a href="#"><button class="b-compra" id="Boton_Producto_3">Agregar al carrito</button></a>
        </div>
                    
    </div>

    <div class="division">
        <div class="linea"></div>
    </div>

    <div class="footer" id="contacto">

        <div class="espacio"></div>

        <div class="item1">
            <h2 class="h-footer">Mi thor Mobile</h2> <br>
            <p>Ingresar <br>
                Descargar app <br>
                Recargar en linea<br>
                Registrate<br>
                Thor plus<br>
                Thor Video<br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item2">
            <h2 class="h-footer">Atencion al cliente </h2> <br>
            <p>Centros de experiencia <br>
                Lineas de atencion<br>
                Cobertura de Servicios <br>
                Preguntas Frecuentes <br>
                Conoce tu Factura <br>
                Chat de servicio <br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item3">
            <h2 class="h-footer">Mas de thor mobile </h2> <br>
            <p>Trabaja con nosotros <br>
                Blog <br>
                Terminos y condiciones<br>
                Nuestros productos<br>
                Eventos y patrocinios<br>
                Oficinas Principales<br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item4">
            <h2 class="h-footer">Redes sociales </h2> <br>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>

    <script src="/js/EnviarPlanes.js"></script>

</body>

</html>
