<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

</head>
<body>
    <div class="fila4">
        <div class="columna7"> <center> <img src="img/telefono1.jpg"</center>  alt=""></div>
    </div>
    
    <div class="columna8">
            <p> Iridium – 9505ª </p>
            <br>
            <br>
            <ul>
            <li>Servicios de voz y datos, mensajes de texto.</li>
            <li>Cargador para vehículo</li> 
            <li>Cable de datos USB</li> 
            <li>Cubierta protectora</li>
            <li>CD-ROM con software</li>
            <li>Data-ready: ¡No necesita paquete de datos!.</li>
            <li>Listo para Audífonos/Manos libres.</li>
            <li>Batería: hasta 30 horas de tiempo de espera, 4 horas de tiempo de conversación.</li>
            <li>Antena magnética para vehiculo con 5 metros de cable </li>
            (via base opcional para Vehiculo y Oficina)
            </ul>
            <br>
            <br>
            Precio: 1'500.000 COP
            <br>
            <br>
            <button> Comprar </button>
    </div>
</body>
</html>