<html>
    <head>
        <title>
            Node.js chat
        </title>
        <style>
            #contentWrap{
                display: none;
            }
            #chatWrap{
                float: left;
            }
           
   
        </style>
        
        <script src="https://code.jquery.com/jquery.js"></script>
                <!--iconos -->
                <link rel="stylesheet" href="css/normalize.css">
                <link rel="stylesheet" href="css/foundation.min.css">
                <link rel="stylesheet" href="css/chat2.css">
        
    </head>
    <body>
            <div id="login-modal" class="reveal-modal small usuarioWrap" data-reveal>
                    <div class="titulo-formulario">
                        <h1>Chat THOR MOBILE</h1>
                    </div>
                <div id="alerts"></div><br>
               
                  <div class="row">
                    <div class="small-12">
                      <label for="username">Usuario:</label>
                      <input name="username" id="usuarioname" type="text" placeholder="Ingresa tu usuario" required >    
                    </div>
                  </div> 
                  <div class="row">
                    <div class="small-12">
                      <label>correo:</label>
                      <input name="email" type="email" placeholder="Ingresa tu correo" required >
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-12">
                      <button class="btn btn-lg btn-primary" type="submit" id="setusuario">Login</button>
                      <button id="close">&times;</button>    
                    </div>
                  </div>
                  <div class="alert fade in alert-danger alert-dismissable" data-dismiss="alert" id="login-error" style="display:none;">
                        <button type="button" class="close" id="closeAlert"></button>
                        los campos son rqueridos
                    </div>
            
                </div>
              </div>
              
   
          </div>
              </div>
              
        
   
           
            
            
            <div id="contentWrap" class="row" style="height: 100%;">
                    <div class="off-canvas-wrap height100" data-offcanvas>
                            <div class="inner-wrap height100">
                              
                              <nav class="tab-bar large-offset-1 large-10">
                                <section class="middle tab-bar-serction text-center">
                                  <h1 class="title">CHAT THOR MOBILE</h1>
                                </section>
                                <section class="right-small show-for-small-only">
                                  <a href="#" class="right-off-canvas-toggle menu-icon">
                                    <span></span>
                                  </a>
                                </section>
                              </nav>
                              
                              <aside class="right-off-canvas-menu height100 online-users online-users-aside">
                                <br><h4>Usuarios en línea:</h4>
                                <div class="users" ></div>
                              </aside>
                              
                              <section class="main-section height100">
                                <div class="large-offset-1 large-10 height100">
                                  
                                  <div class="medium-4 columns hide-for-small-only height100 online-users">
                                    <br><h4>Usuarios en línea:</h4>
                                    
                                    <div class="users" >
                                    </div>
                                    
                                  </div>
                                  
                                  <div class="small-12 medium-8 columns 
                                          height100 messages">
                                    <div id="chat" class="height-messages">
                                      
                                    </div>
                                    
                                    <div  class="height10">
                                       
                                      <textarea  class="send-message" id="message" type="submit" placeholder="Nuevo mensaje"></textarea>
                       
                                    </div>
                                  </div>
                                  
                                </div>
                              </section>
                              
                            
                              
                            </div>
                          </div>

                        
                        
                    </div>
                    
                 
                </div>
                
                
                
              
            </div> 
        </div>
   
     
            <script src="js/foundation.min.js"></script>
          
            <script src="js/moment-with-locales.min.js"></script>
            
            <script src="js/chat.js"></script>
        
        <script src="/socket.io/socket.io.js"></script>
        <script>
            jQuery(function($) {
               var socket = io.connect();
               var $messageForm = $('.send-message');
               var $messageBox = $('#message');
               var $chat = $('#chat');
               var $buttonSend = $('#send');
               
               var $usuarioForm = $('#setusuario');
               var $usuarioBox = $('#usuarioname');
               var $users = $('.users');
               var $closeAlert = $('#closeAlert');
               
               
               
               $usuarioForm.click(function(e) {
                   e.preventDefault();
                   socket.emit('nuevo usuario', $usuarioBox.val(), function(data) {
                       if(data) {
                           $('.usuarioWrap').hide();
                           $('#contentWrap').show();
                       } else {
                           $("#login-error").show();
                       }
                   });
                   $usuarioBox.val('');
               });
               
               $closeAlert.click(function(e) {
                    $("#login-error").hide();
               });
              
               $messageForm. keyup(function (evt) {
                if (evt.keyCode === 13) {
      var nmsg = {
        username : "usuario no registrado",
        message : $messageBox.val()
      }
      socket.emit('enviar mensaje', $messageBox.val());
      socket.emit('chat message', nmsg);
      $messageBox.val('');
    }
   
  });
               
  socket.on('chat message', function (msg) {
   
    appendMessage(msg);
  });
  function appendMessage(msg) {
    var dt = new Date();

// Display the month, day, and year. getMonth() returns a 0-based number.
var month = dt.getMonth()+1;
var day = dt.getDate();
var year = dt.getFullYear();

var humanDate= month + '-' + day + '-' + year;

 var html = '<div class="small-11 message">' +
                '<blockquote>' +
                  '<span class="message-title">' + msg.username +
                  ':</span>' +
                  '<cite class="right message-date show-for-medium-up">' + humanDate + '</cite>' +
                  '<div class="message-body">' +
                  msg.message +
                  '</div>' +
                '</blockquote>' +
              '</div>';
  var listmsgs = $('#chat');
  listmsgs.append( html );
  
  var sh = listmsgs[0].scrollHeight;
  listmsgs.scrollTop(sh);
}
               socket.on('nuevo mensaje', function(data) {
                  
                  $chat.append('<b>'+data.usuario+":</b> "+data.msg+"<br/>"); 
               });
               
               socket.on('usuarios', function(data) {
                   
                    var html = '';
                    for (var username in data) {
                        html +=   '<img src="img/nathan1.png" class="user-image">'+username + '<br/>';
                    }
                    $users.html(html);
                });
               
            });
            
        </script>
     
    
    </body>
</html>
