<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carrito de compras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Rubik:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/carrito.css" />
    <link rel="stylesheet" href="/css/footer-carrito.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body id="ContenedorTotal">

        <div class="contenedorNav">
                <nav>
                        <div class="logoh">
                            <img class="logoh" src="img/logos/Logos-01.png" alt="">
                        </div>
                        <div class="enlaces">
                            <!-- <a href="index.html"><i class="fas fa-shopping-cart"></i></a> -->
                            <a href="#contacto">+ THOR</a>
                            <a href="#productos">Productos</a>
                            <a href="#nosotros">Nosotros</a>
                
                        </div>
                    </nav>
            </div>

<!-- COMIENZA LA SECCION DE PRODUCTOS AGREGADOS -->
<div class="container">
    <!-- ICONO CARRITO Y CANTIDAD -->
    <div class="carrito">
         <div class="box box1"><i id="carrito" class="fas fa-shopping-cart"></i></div>
         <div class="box box2">2</div>
    </div>
    <!-- SECCION DE PRODUCTO SELECCIONADO -->
    
    <!--TOTAL DE PRODUCTOS  -->
   <!--  <div class="total">
         <div class="box box9">9<h3>TOTAL</h3></div>
         <div class="box box10">10  $$$</div>
    </div> -->
     
    <!-- MEDIOS DE PAGO -->
         <!-- <div class="box box11">11</div> -->
    <div class="pagos">
         <div class="box box12"></div>
         <div class="box box13"></div>
         <div class="box box14"></div>
         <div class="box box15"></div>
         <!-- <div class="box box16">16</div> -->
         <div class="box box17"></div>
         <!-- <div class="box box18">18</div> -->
         <div class="box box19"></div>
         <div class="box box20"></div>
    </div>
    <!-- PAGAR Y SEGUIR COMPRANDO -->
    <div class="fin">
        <div class="box box21"><button class="butt" id="BotonComprar"> COMPRAR </button><br></div>
        <div class="box box22"><p>Por favor escanea el codigo QR o pega esta direccion en tu wallet para realizar el pago.
           Luego de hacer la tranferencia da clic en pagar y allí podrás adjuntar el hash correspondiente. Luego de verificar haremos efectivo tu pago.</p><br></div>
        <div class="box box23"><button class="butt">Seguir comprando</button></div>
        <!-- <div class="box box24">24</div>  -->
   </div> 
    <!-- TITULOS -->
    <div class="titulos">
         <div class="box box25"><h3>Producto / Servicio</h3></div>
         <div class="box box26"><h3>Descripcion</h3></div>
         <div class="box box27"><h3>Cantidad</h3></div>
         <div class="box box28"><h3>Precio</h3></div>
         <div class="box box29"><h3>Total</h3></div>
         <div class="box box30"><h3>Medios de pago:</h3></div>
    </div>

</div>

    <script src="/js/TraerProductos.js"></script>

<!-- CONTENEDOR FOOTER -->

<div class="footer" id="contacto">

        <div class="espacio"></div>

        <div class="item1">
            <h2 class="h-footer">Mi thor Mobile</h2> <br>
            <p>Ingresar <br>
                Descargar app <br>
                Recargar en linea<br>
                Registrate<br>
                Thor plus<br>
                Thor Video<br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item2">
            <h2 class="h-footer">Atencion al cliente </h2> <br>
            <p>Centros de experiencia <br>
                Lineas de atencion<br>
                Cobertura de Servicios <br>
                Preguntas Frecuentes <br>
                Conoce tu Factura <br>
                Chat de servicio <br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item3">
            <h2 class="h-footer">Mas de thor mobile </h2> <br>
            <p>Trabaja con nosotros <br>
                Blog <br>
                Terminos y condiciones<br>
                Nuestros productos<br>
                Eventos y patrocinios<br>
                Oficinas Principales<br>
            </p>
        </div>

        <div class="espacio"></div>

        <div class="item4">
            <h2 class="h-footer">Redes sociales </h2> <br>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>




</body>
</html>
