<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thor Mobile - catalogo</title>
    <link rel="stylesheet" href="/css/catalogo.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Rubik:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    
    <nav>
        <div class="logoh">
            <img class="logoh" src="img/logos/Logos-01.png" alt="">
        </div>
        <div class="enlaces">
            <a href="../04CARRITO_COMPRAS/Carrito de compras.html"><i class="fas fa-shopping-cart"></i></a>
            <a href="#contacto">+ THOR</a>
            <a href="#productos">Productos</a>
            <a href="#planes">Planes</a>
            <a href="#home">Inicio</a>
            
        </div>
    </nav>

    <div class="banner">
        <div class="slogan">
            <h1 class="titulo">THOR - MOBILE</h1>
            <h3 class="subtitulo">Conectividad satelital en la palma de tu mano</h3>
        </div>
        <div class="Marca">
            <img class="logo" src="/img/home/logos/Logos-01.png" alt="">
        </div>
    </div>

    <div id="productos" class="productos">

        <div class="cat">
            <h2>PRODUCTOS</h2>
            <br>
            <p class="intro">En THOR Mobile tenemos los mejores dispositivos de telecomunicación satelital, para que estés conectado de forma segura con todo el mundo.</p>
        </div>

        <div class="espacio"></div>

        <div class="product">
            <div class="prod01">
                <div class="info">
                        <i class=" cell fas fa-mobile-alt"></i>
                    <p id="descripcion">smart-phone
                        
                    </p>
                    <ul id="carac">
                        <li>dual sim : dos tarjetas sim</li>
                        <br>
                        <li>resistencia ip67: proteccion, agua y  polvo</li>
                    </ul>
                    <hr>
                    <ul id="especi">
                        <li>pantalla a  color 2.0 ttft , 320*240px.</li>
                        <li>bluetooh 2.1 integrado</li>
                        <li>linterna led </li>
                        <li>radio fm</li>
                        <li>camara fotos y  videos </li>
                        <li>bateria: 1400 MAH</li>
                        <li>autonomia de conversacion de 9hrs y  30 min</li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_4" src="/img/catalogo/smart.png" alt=""></div>

                </div>
            </div>
            <h4 id="Nombre_Producto_4">Caterpillar B25</h4>
            <h4 id="Mostrar_Precio_Producto_4">$ 179.900</h4><br>
            <input type="hidden" value="179900" id="Precio_Producto_4"/>
            
       
            <a href="#"><button class="b-detalle" Id="Boton_Producto_4">Agregar al carrito</button></a>

            
        </div>


        <!--<div class="ventana" id="ventana">
            <i class=" cerrar far fa-window-close" onclick="cerrar()"></i>
        <p id="ventana">acerca del producto</p>
    </div>  Cierre ventana -->

        <div class="espacio"></div>

        <div class="product">
            <div class="prod02">
                <div class="info">
                    <i class=" cell fas fa-mobile-alt"></i>
                    <p id="descripcion">smart-phone</p>
                        
                    <ul id="carac">
                        <li>memoria interna 8gb</li>
                        <br>
                        <li> bluetooh 2.1</li>
                        <li>bateria de 300 MAH</li>
                        <li>duracion de bateria 12hrs</li>
                    </ul>
                    <hr>
                    <ul id="especi">
                        <li>linterna led</li>
                        <li>radio fm</li>
                        <li>peso 161gramos</li>
                        <li>camara fotos y  video</li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_5" src="/img/catalogo/smart2.jpg" alt=""></div>
                </div>
            </div>
            <h4 id="Nombre_Producto_5">Caterpillar s390</h4>
            <h4 id="Mostrar_Precio_Producto_5">$ 2.399.900</h4><br>
            <input type="hidden" value="2399900" id="Precio_Producto_5"/>
            <a href="#"><button class="b-detalle" id="Boton_Producto_5">Agregar al carrito</button></a>
        </div>

        <!-- <div class="ventana" id="ventana2">
            <i class=" cerrar far fa-window-close" onclick="cerrar()"></i>
        <p id="ventana">acerca del producto</p>
    </div> Cierre ventana -->

        <div class="espacio"></div>

        <div class="product">
            <div class="prod03">
                <div class="info">
                    <i class=" cell fas fa-mobile-alt"></i>
                <p id="descripcion">smart-phone
                    
                </p>
                <ul id="carac">
                    <li>dual sim : dos tarjetas sim</li>
                    <br>
                    <li>resistencia ip67: proteccion, agua y  polvo</li>
                </ul>
                <hr>
                <ul id="especi">
                    <li>pantalla a  color 2.0 ttft , 320*240px.</li>
                    <li>bluetooh 2.1 integrado</li>
                    <li>linterna led </li>
                    <li>radio fm</li>
                    <li>camara fotos y  videos </li>
                    <li>bateria: 1400 MAH</li>
                    <li>autonomia de conversacion de 9hrs y  30 min</li>
                </ul>
                <div class="image-producto"><img class="opacidad" id="Imagen_Producto_6" src="/img/catalogo/smart.png" alt=""></div>

            </div>
            </div>
            <h4 id="Nombre_Producto_6">Caterpillar S60</h4>
            <h4 id="Mostrar_Precio_Producto_6">$ 1.829.900</h4><br>
            <input type="hidden" value="1829900" id="Precio_Producto_6" />
            <a href="#"><button class="b-detalle" id="Boton_Producto_6">Agregar al carrito</button></a>
        </div>

       
       
    </div>

    <div id="productos" class="productos">
    
        <div class="espacio"></div>
    
        <div class="product">
            <div class="prod04">
                <div class="info">
                    <i class=" cell fas fa-map-marked-alt"></i>
                    <p id="descripcion">GPS</p>
                    <ul id="carac">
                        <li> Sistema de posicionamiento global Georeferencial
                            Senderos Uso general</li>
                        <br>
                        <li>Dimensión:  5,4 x 10,3 x 3,3 cm </li>
                    </ul>
    
                    <hr>
                    <ul id="especi">
                        <li>Caracteristicas Destacadas: Geocaching, WAAS, HotFix, GLONASS</li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_7" src="/img/catalogo/gps1.PNG" alt=""></div>
                </div>
            </div>
            <h4 id="Nombre_Producto_7">Gps Garmin Etrex Legend 8mb Ipx7</h4>
            <h4 id="Mostrar_Precio_Producto_7">$ 129.900</h4><br>
            <input type="hidden" value="129900" id="Precio_Producto_7" />
            <a href="#"><button class="b-detalle" id="Boton_Producto_7">Agregar al carrito</button></a>
        </div>

        
        
        <!-- <div class="ventana" id="ventana">
                <i class=" cerrar far fa-window-close" onclick="cerrar()"></i>
            <p id="ventana">acerca del producto</p>
        </div> Cierre ventana -->

    
        <div class="espacio"></div>
    
        <div class="product">
            <div class="prod05">
                <div class="info">
                    <i class=" cell fas fa-map-marked-alt"></i>
                    <p id="descripcion">GPS</p>
                    <ul id="carac">
                        <li>Referencia: Oregon 650</li>
                        <br>
                        <li>Caracteristicas Destacadas: Vistas de mapas en 3D, 
                            Geocaching, WAAS, </li>
                        <li>Resolución: 240 x 400</li>
                    </ul>
                    <hr>
                    <ul id="especi">
                        <li>Memoria Interna: 1.5 GB</li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_8" src="img/catalogo/gps2.PNG" alt=""></div>
                </div>
            </div>
            <h4 id="Nombre_Producto_8">Gps Garmin Etrex 20x Navegador Personal</h4>
            <h4 id="Mostrar_Precio_Producto_8">$ 659.000</h4><br>
            <input type="hidden" value="659000" id="Precio_Producto_8" />
            
            <a href="#"><button class="b-detalle" id="Boton_Producto_8">Agregar al carrito</button></a>
        </div>
    
        <div class="espacio"></div>
    
        <div class="product">
            <div class="prod06">
                <div class="info">
                    <i class=" cell fas fa-map-marked-alt"></i>
                    <p id="descripcion">GPS</p>
                    <ul id="carac">
                        <li>Referencia: Oregon 650</li>
                        <br>
                        <li>Caracteristicas Destacadas: Vistas de mapas en 3D, 
                            Geocaching, WAAS, </li>
                        <li>Resolución: 240 x 400</li>
                    </ul>
    
                    <hr>
                    <ul id="especi">
                            <li>Aplicaciones:
                            Acceda a sus aplicaciones mientras viaja: redes sociales, 
                            mensajería etc.</li>
                        <li>navegacion confiable</li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_9" src="/img/catalogo/gps3.png" alt=""></div>
                </div>
            </div>
            <h4 id="Nombre_Producto_9">Rino 650</h4>
            <h4 id="Mostrar_Producto_9">$ 1.604.550</h4><br>
            <input type="hidden" value="1604550" id="Precio_Producto_9" />
            
            <a href="#"><button class="b-detalle" id="Boton_Producto_9">Agregar al carrito</button></a>
        </div>


        <div class="espacio"></div>


        <div class="product">
            <div class="prod07">
                <div class="info">
                    <i class="cell fas fa-laptop"></i>
                    <p id="descripcion">Laptop</p>
                    <ul id="carac">
                        <li>- CPU: Intel Core i3-6100U </li>
                        <br>
                        <li>Gráficos: Intel Graphics 520 </li>
                        <li>RAM: 4GB</li>
                    </ul>
    
                    <hr>
                    <ul id="especi">
                        <li>Almacenamiento: 128GB SSD</li>
                        <li>Dimensiones: 356 x 246 x 52mm</li>
                        <li>Pantalla: 14 pulgadas 1366 x 768 </li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_10" src="/img/catalogo/compu2.jpg" alt=""></div>
                </div>
            </div>
            <div class="marca">
            <h4 id="Nombre_Producto_10">DELL LATITUDE RUGGED EXTREME</h4>
            <h4 id="Mostrar_Precio_Producto_10">$ 14.493.250</h4><br>
            <input type="hidden" value="14493250" id="Precio_Producto_10" />
            
            <a href="#"><button class="b-detalle" id="Boton_Producto_10">Agregar al carrito</button></a>
        </div>
        </div>

        <div class="espacio"></div>

        <div class="product">
            <div class="prod08">
                <div class="info">
                    <i class="cell fas fa-wifi"></i>
                    <p id="descripcion">Modem</p>
                    <ul id="carac">
                        <li>Dimensiones: 202 x 202 x 51.8 mm </li>
                        <br>
                        <li> elocidad: transmite datos estándar de hasta 464 Kbps de bajada</li>
                        <li>combinación ideal de rendimiento y portabilidad;</li>
                    </ul>
                    <hr>
                    <ul id="especi">
                        <li>- Peso: 1,4 Kg</li>
                        <li>448 Kbps de subida. </li>
                    </ul>
                    <div class="image-producto"><img class="opacidad" id="Imagen_Producto_11" src="/img/catalogo/mdem2.png" alt=""></div>
                </div>
            </div>
            <div class="marca2">
                <h4 id="Nombre_Producto_11">BGAN explorer 510</h4>
                <h4 id="Mostrar_Precio_Producto_11">$ 7.715.000</h4><br>
                <input type="hidden" value="7715000" id="Precio_Producto_11" />
                <a href="#"><button class="b-detalle" id="Boton_Producto_11">Agregar al carrito</button></a>
            </div>
        </div>
    
            <div class="espacio"></div>

            <!-- producto 9 fuera de flujo

            <div class="product">
                    <div class="prod09">
                            <div class="info">
                                <i class="cell fas fa-laptop"></i>
                                <p id="descripcion">Laptop
                                    
                                </p>
                                <ul id="carac">
                                    <li>- CPU: Intel Core i3-6100U </li>
                                    <br>
                                    <li>Gráficos: Intel Graphics 520 </li>
                                    <li>RAM: 4GB</li>
                                            
                                            
                                </ul>
            
                                <hr>
                                <ul id="especi">
                                    <li>Almacenamiento: 128GB SSD       
                                            </li>
                                            <li>Dimensiones: 356 x 246 x 52mm</li>
                                            <li>Pantalla: 14 pulgadas 1366 x 768 </li>
                                </ul>
            
            
                            </div>
                    </div>
                    <div class="marca3">
                    <h4>DELL LATITUDE RUGGED EXTREME  </h4>
                    
                    <a href="../03PLANES/03Planes.html"><button class="b-detalle">Conoce más</button></a>
                </div>
                </div>
        
                <div class="espacio"></div> -->
        
    
          
     





      
           


      
    </div>  <!-- Cierre  -->

    <div class="footer" id="contacto">
    
    <div class="espacio"></div>

    <div class="item1">
        <h2 class="h-footer">Mi thor Mobile</h2> <br>
        <p>Ingresar <br> 
        Descargar app <br> 
        Recargar en linea<br> 
        Registrate<br>
        Thor plus<br>
        Thor Video<br>
        </p>
    </div>

    <div class="espacio"></div>

    <div class="item2">
        <h2 class="h-footer">Atencion al cliente </h2> <br>
        <p>Centros de experiencia <br>
        Lineas de atencion<br>
        Cobertura de Servicios <br> 
        Preguntas Frecuentes <br>
        Conoce tu Factura <br>
        Chat de servicio <br>
        </p>
    </div>

    <div class="espacio"></div>

    <div class="item3">
        <h2 class="h-footer">Mas de thor mobile </h2> <br>
        <p>Trabaja con nosotros <br>
        Blog <br>
        Terminos y condiciones<br> 
        Nuestros productos<br>
        Eventos y patrocinios<br>
        Oficinas Principales<br>
        </p>
    </div>

    <div class="espacio"></div>
        
    <div class="item4"> 
        <h2 class="h-footer">Redes sociales </h2> <br>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
    </div>
    <script src="/js/EnviarProductos.js"></script>
</body>
</html>
